

.banner {
   background: url("img/c1p.png") repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
   background-size: cover;
   width: 100% !important;
}

.logo-img{
  width: 90%;
}



div.secondary.callout.text-center{
  min-height: 242px;
}

.buscar{
  border-radius:0 15px 15px 0;
}
.favorito{
  width: 50%;
}
.img-contenido{
    width: 40%;

  }
  .blog-comentario{
    border-style:inset;
    border-radius: 15px;
  }
  .usuario-img{
    height: 40px;
  }
