.barra-superior{
  min-height: 4rem;
}
div[class*="columna"]{
  min-height: 21.5rem;
}
div[class*="bloque"]{
  height: 25rem;
  overflow: scroll;
}
.columna-chat, .columna-news{
  padding: 0 !important;
}
.contenedor-write-publicacion{
  min-height: 7rem;
}

.columna-publicaciones{
    text-align: center;
    padding: 0;
    min-height: 5rem;
}

.contenedor-publicacion{
  min-height: 17rem;
  text-align: center;

}
.logo{
/*   width: 210px;*/
  height: 100px;
  margin-top: 0.5rem;
  float: left;
}
.contenedor-noticias{
  margin-top: 1rem;
  min-height: 50rem;
  padding: 0.5rem;
}
.responsive-img{
  border: 0.35rem solid black;
  border-style: ridge;
  border-radius: 5px;
  min-width:100%
}
.buscar-campo{
  float: left;
  margin-left: 1rem;
  margin-top: 0.5rem;
  width: 70%;
}
.barra-superior .row{
  margin-bottom: 0;
}
.contenedor-botones{
  margin-top: 1rem;

}
.btn{
  color:black;
}
.collection{
  text-align: center;
  border-color: green;
}
.card-image{
  margin-top: 0.2rem;
  float: left;
}
.usuario-img{
  height: 10px;
}
.blog-comentario{
  border-style:inset;
  border-radius: 15px;
}

#publicacion-texto{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  resize: none;
  border: 1px solid #ff8f00;
  background-color: #ff8f00;
  height: 5rem;
  color: #fff;
}
@media (max-width: 600px) {
  .columna-grupos{
    padding: 0 !important;
  }
}
